{% extends "base.html" %}

{% block title %}
    ACIMI - Home
{% endblock %}

{% block content %}

<!-- Formulario unico que contiene todos los campos -->
<div class="data-project">
    <form id="main-form" action="{{ url_for('submit_data_initial') }}" method="POST" enctype="multipart/form-data">

        <!-- Datos generales -->
        <h1>Datos del proyecto</h1>
        <label for="num_referencia" class="txt-label">Número de referencia del proyecto</label>
        <input type="text" name="num_referencia" placeholder="Nº referencia" required>

        <label for="nombre_proyecto" class="txt-label">Nombre del proyecto</label>
        <input type="text" name="nombre_proyecto" placeholder="Nombre" required>

        <label for="propietario" class="txt-label">Propiedad</label>
        <input type="text" name="propietario" placeholder="Propiedad" required>

        <label for="autor" class="txt-label">Autor</label>
        <input type="text" name="autor" placeholder="Autor" required>

        <label for="calculotipo" class="txt-label">Tipo de calulo</label>
        <select name="calculotipo" id="calculotipo" required>
            <option value="" disabled selected>Seleccione</option>
            <option value="terciario">Terciario</option>
            <option value="residencial">Residencial</option>
        </select>

        <!-- Subida del documento -->
        <label for="fileupload" class="txt-label">Subir documento Excel</label>
        <label for="fileupload" class="custom-file-upload">Haga clic para subir el archivo con los datos iniciales para el calculo</label>
        <input type="file" name="fileupload" id="fileupload" class="hide">

        <!-- Contenedor para mostrar el nombre del archivo -->
        <span id="file-name" class="file-name">No se ha seleccionado ningun archivo</span>

        <!-- Formulario adicional para "terciario", oculto inicialmente -->
        <div id="form-terciario" class="hide">
            <h2>Informacion adicional para el calculo terciario</h2>

            <label for="ida" class="txt-label">Calidad de aire interior (IDA)</label>
            <select name="ida" id="ida">
                <option value="" disabled selected>Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <label for="plantas_parking" class="txt-label">Plantas de aparcamiento</label>
            <input type="number" name="plantas_parking" placeholder="Nº plantas">

            <label for="zonas_sobrepresionar" class="txt-label">Zonas a sobrepresionar</label>
            <input type="number" name="zonas_sobrepresionar" placeholder="Nº zonas">
        </div>

        <!-- Boton unico de envio de datos -->
        <button type="submit">Enviar datos</button>
    </form>
</div>

<!-- Alerta global -->
<div id="customized-alert" class="hidden-alert">
    <p id="txt-alert"></p>
    <button id="btn-ok-alert" onclick="closeAlert()">Ok</button>
</div>

<script src="{{url_for('static', filename='scripts/home.js')}}"></script>
<script src="{{url_for('static', filename='scripts/alerts.js')}}"></script>
{% endblock %}
