{% extends "base.html" %}

{% block title %}
    ACIMI
{% endblock %}

{% block content %}

<p class="select-item" data-tipo="terciario">Plantilla (terciario)</p>
<p class="select-item" data-tipo="residencial">Plantilla (residencial)</p>

<!-- Formulario unico que contiene todos los campos -->
<h1>Datos del proyecto</h1>
<form id="main-form" action="{{ url_for('submit_data_initial') }}" method="POST" enctype="multipart/form-data">

    <!-- Datos generales -->
    <input type="text" placeholder="Num. Referencia" required>
    <input type="text" placeholder="Nombre del proyecto" required>
    <input type="text" placeholder="Propiedad" required>
    <input type="text" placeholder="Autor" required>
    <select name="calculotipo" id="calculotipo" required>
        <option value="" disabled selected>Calculo tipo</option>
        <option value="terciario">Terciario</option>
        <option value="residencial">Residencial</option>
    </select>

    <!-- Formulario adicional para "terciario", oculto inicialmente -->
    <div id="form-terciario" class="hide">
        <h2>Datos adicionales para el calculo terciario</h2>
        <select name="ida" id="ida" required>
            <option value="" disabled selected>IDA</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <input type="number" placeholder="Plantas de parking" required>
        <input type="number" placeholder="Zonas a sobrepresionar" required>
    </div>

    <!-- Formulario adicional para recibir los datos de entrada -->
    <h2>Cargar fichero Excel con los datos iniciales para el calculo</h2>
    <input type="file" name="fileupload" id="fileupload" required>

    <!-- Boton unico de envio de datos -->
    <button type="submit">Enviar datos</button>
</form>

<script src="{{url_for('static', filename='scripts/utils.js')}}"></script>
{% endblock %}
